// app global css in SCSS form

//TEXT COLORS

.text-darker-purple {
  color: $text-darker-purple;
}

.text-strong-pink {
  color: $strong-pink;
}

.text-medium-gray-text {
  color: $medium-gray-text;
}

.text-light-gray-text {
  color: $light-gray-text;
}
