// app global css in SCSS form

//TEXT COLORS

.text-darker-purple {
  color: $text-darker-purple;
}

.strong-pink {
  color: $strong-pink;
}

.medium-gray-text {
  color: $medium-gray-text;
}

.light-gray-text {
  color: $light-gray-text;
}
