*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

h2 {
  line-height: 1;
  margin-bottom: 20px;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.display-flex {
  display: flex !important;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: 1500px) {
    width: calc(100% - 300px);
  }
}

.q-layout {
  padding: 40px 0 60px 0;

  @media (max-width: 1023px) {
    margin-top: 90px;
  }
}
