.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: $darker-purple-text;

  &__icon {
    font-size: 16px;
    margin: 0 4px;
  }

  &__logo {
    max-width: 50px;
    display: inline-block;
    margin-left: 6px;
  }
}
