.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    display: none;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__list-item + &__list-item {
    margin-left: 60px;
  }

  &__link {
    color: #1b162d;
    transition: color 0.2s linear;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;

    &:hover {
      color: $medium-purple;
    }
  }

  .active-link {
    color: $medium-purple;
    position: relative;
  }

  .active-link::after {
    position: absolute;
    left: 50%;
    margin-top: 2px;
    transform: translateX(-50%) translateY(10px);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $medium-purple;
    display: block;
    animation-name: animateActiveLink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

@keyframes animateActiveLink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
}
