.mobile_main_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 3px 15px $shadow-purple;
  border-bottom: 2px solid $shadow-purple;
  display: none;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
  }

  &__logo--side_menu {
    margin: 0 auto;
  }

  .q-icon {
    color: black;
    font-size: 40px;
  }
}

.q-drawer-container {
  @media (min-width: 769px) {
    // display: none;
  }

  .q-item__label {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
  }
}
